<mat-list>
  <h3>Runes</h3>

  <mat-expansion-panel *ngFor="let runePath of getKeys(reforgedRunes)">
    <mat-expansion-panel-header color="primary">
      <mat-panel-title>
        {{runePath}}
      </mat-panel-title>
      <mat-panel-description>
        ...runePath description...
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <mat-list role="runesList">
        <mat-list-item *ngFor="let rune of getRunes(runePath)">
          <div matLine>
            <div>{{rune.name}}</div>
            <div style="font-size: .85em;">{{rune.longDesc}}</div>
                 <!--[innerHTML]="rune.longDesc"></div>-->
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-expansion-panel>
